<div class="estrutura p-5 rounded mt-3">
  <h1>Cadastrar Usuário</h1>
   {{>msg}}
  <form action="/card" method="post">
    <div class="mb-3 mt-4">
      <label for="exampleInputEmail1" class="form-label">Nome completo</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        placeholder="Digite seu nome completo"
        required
      />
    </div>
    <div class="mb-5">
      <label for="exampleInputPassword1" class="form-label">Endereço de E-mail</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Digite seu email"
        required
      />
    </div>
    <button type="submit" class="w-100 btn btn-success">Cadastrar</button>
  </form>
 
</div>